@import 'tailwindcss';

@theme {
  --color-black-neutral-light: #242528;
  --color-black-neutral-base: #1f1f21;
  --color-black-neutral-dark: #18191a;
  --color-black-neutral-darkest: #101204;
  --color-black-neutral-hover: #e3e4f21f;

  --color-blue-neutral-base: #649ef0;
  --color-blue-neutral-light: #8fb8f6;
  --color-blue-neutral-dark: #213354;
  --color-blue-neutral-darkest: #16294c;

  --color-white-neutral-base: #a9abaf;
  --color-white-opacity-base: #ffffff3d;
  --color-white-opacity-hover: #00000028;

  --shadow-black-neutral: 0px 0px 0px 1px #00000000, 0px 1px 1px #01040480, 0px 0px 1px #01040480;

  --background-image-gradient-board-bubbles: linear-gradient(135deg,rgba(26, 43, 68, 1) 50%, rgba(18, 58, 96, 1) 100%);
  --background-image-gradient-board-snow: linear-gradient(135deg,rgba(3, 104, 225, 1) 50%, rgba(40, 176, 196, 1) 100%);
  --background-image-gradient-board-waves: linear-gradient(135deg,rgba(3, 101, 223, 1) 50%, rgba(6, 54, 114, 1) 100%);
  --background-image-gradient-board-magic: linear-gradient(135deg,rgba(35, 35, 130, 1) 0%, rgba(96, 46, 166, 1) 55%, rgba(221, 128, 242, 1) 100%);
  --background-image-gradient-board-rainbow:linear-gradient(135deg,rgba(113, 94, 195, 1) 0%, rgba(228, 115, 187, 1) 100%);
  --background-image-gradient-board-booty:linear-gradient(135deg,rgba(229, 72, 56, 1) 0%, rgba(251, 160, 67, 1) 100%);
  --background-image-gradient-board-flower:linear-gradient(135deg,rgba(234, 115, 184, 1) 31%, rgba(255, 133, 122, 1) 100%);
  --background-image-gradient-board-earth:linear-gradient(135deg,rgba(18, 133, 93, 1) 0%, rgba(85, 193, 201, 1) 100%);
  --background-image-gradient-board-alien:linear-gradient(135deg,rgba(99, 116, 145, 1) 0%, rgba(25, 46, 78, 1) 100%);
  --background-image-gradient-board-volcano:linear-gradient(135deg,rgba(69, 41, 16, 1) 0%, rgba(172, 41, 29, 1) 100%);

  --color-board-blue: #007abe;
  --color-board-yellow: #d48f39;
  --color-board-green: #4c983c;
  --color-board-red: #b24534;
  --color-board-purple: #8a609d;
  --color-board-pink: #d05a91;
  --color-board-aqua: #41bf6d;
  --color-board-light-blue: #00aecb;
  --color-board-gray: #838c91;
}

@font-face {
  font-family: 'Atlassian Sans';
  src: url('/AtlassianSans-latin.woff2') format('woff2');
}

:root {
  font-family:
    'Atlassian Sans',
    ui-sans-serif,
    -apple-system,
    sans-serif;

  @apply bg-black-neutral-base text-white-neutral-base;
}
