@import 'tailwindcss';

@theme {
  --color-primary-black: #1f1f21;
  --color-secondary-black: #2c2c2e;
  --color-primary-blue: #649ef0;
  --color-tertiary-black: #37383b;
}

@font-face {
  font-family: 'Atlassian Sans';
  src: url('public/AtlassianSans-latin.woff2') format('woff2');
}

:root {
  font-family: 'Atlassian Sans', ui-sans-serif, -apple-system, sans-serif;

  @apply bg-primary-black text-gray-400 text-sm;
}

.brightness-on-event {
  @apply not-disabled:hover:brightness-105 not-disabled:focus:brightness-105 transition;
}